colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.9" and sys_platform == "win32"
ecos==2.0.12 ; python_version >= "3.8" and python_version < "3.9"
exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.9"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.9"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.9"
numexpr==2.8.4 ; python_version >= "3.8" and python_version < "3.9"
numpy==1.24.3 ; python_version >= "3.8" and python_version < "3.9"
osqp==0.6.2.post9 ; python_version >= "3.8" and python_version < "3.9"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.9"
pandas==2.0.1 ; python_version >= "3.8" and python_version < "3.9"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.9"
pytest==7.3.1 ; python_version >= "3.8" and python_version < "3.9"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.9"
pytz==2023.3 ; python_version >= "3.8" and python_version < "3.9"
qdldl==0.1.7 ; python_version >= "3.8" and python_version < "3.9"
scikit-learn==1.2.2 ; python_version >= "3.8" and python_version < "3.9"
scikit-survival==0.20.0 ; python_version >= "3.8" and python_version < "3.9"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.9"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
threadpoolctl==3.1.0 ; python_version >= "3.8" and python_version < "3.9"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.9"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "3.9"
